.btn-pur-submit{
    position: absolute !important;
    right: 20px !important;    
    bottom: 20px !important ;
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%) !important;
    color: white !important;
}
.header-pur{
    background-color: #21ba45!important;
    th{
        background-color: transparent !important;
        color: white !important;
    }
}

.custom-file-upload-car{
    border: 1.2px solid #2eeb7d;
    display: inline-block;
    padding: 5px 11px;
    border-radius: 2.4px;
    cursor: pointer;
    font-size: 14px;
}

input[type="file"] {
    display: none;
}