html {
    height: 100vh;
}

body {
    height: 100%;
    background-color: #f7f7f7 !important;
    // font-family: "Montserrat", sans-serif !important ;
}
* {
    padding: 0;
    margin: 0;
}
.main-content {
    height: 100vh !important;
}

.clickRowStyl {
    background-color: #b9b9b9;
    color: white !important;
}

.ant-table-tbody > .clickRowStyl:hover > td {
    background-color: #b9b9b9 !important;
    color: white !important;
}
.ant-table-selection-column {
    display: none !important;
}

.ant-table-title {
    h2 {
        background: -webkit-linear-gradient(60deg, #a5f7c3 0%, #7dc8ee 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-family: "Montserrat", sans-serif !important ;
    }
}

.ant-table-title {
    h3 {
        background: -webkit-linear-gradient(90deg, #f1c946 0%, #ee8061 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        font-size: 20px !important;
    }
}

.ant-layout-sider-dark {
    background-image: linear-gradient(#00F1C3 0%, #0092E1 100%) !important;
}

.ant-menu-inline {
    background-color: transparent !important;
}

.ant-menu-vertical {
    background-color: transparent !important;
}

.ant-menu-item-selected {
    background-color: #5a5a5a4b !important;
}

a {
    text-decoration: none !important;
}

@media (max-width: 500px) {
    .bg-block {
        z-index: 100 !important;
        width: 100% !important;
        height: 100% !important;
        position: absolute !important;
        background: rgba(104, 104, 104, 0.4);
    }
    .cmt-2{
        margin-top: 10px !important;
    }
}
