.custom-search-car{
    position: absolute !important;
    right: 50px !important;
    top:10px !important;
}
.custom-sup-add{
    position: absolute !important;
    right: 0px !important;
    top:10px !important;
}